<h3><%= status %></h3>
<h3><%= filename %></h3>
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/upload?_csrf=<%= csrfToken %>"
     method    =  "post"
novalidate>
  	
	<input type="file" name="userFile" />
	<input type="submit" value="Upload File" name="submit">
</form>